<li role="presentation" class="tab-item" data-id="{{id}}">
    <a href="#calendar-{{id}}" class="calendar-tab-item" data-id="{{id}}" role="tab" data-toggle="tab">
        {{title}}
    </a>
    <div class="form-group calendar-title-edit" style="display: none">
        <input type="text" class="form-control" placeholder="title" value="{{title}}">
    </div>
</li>
